---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can find my published articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- Display publications by category if defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  <h2>Journal Articles</h2><hr />
  <ul>
    <li>Oksuz, I., Özcan, M. Ş., Dost-Gözkan, A., & Kisbu, Y. (in press). Health risk behaviors of adolescents in Europe: A latent profile analysis of HBSC data from 43 countries. <i>Journal of Adolescent Health</i>.</li>
    <li>Özcan, M. Ş., Goksun, T., & Kisbu Sakarya, Y. (2024). The impact of learning to code on higher-order executive functions: A systematic review of the literature. <i>Journal of Research on Technology in Education</i>. <a href="https://doi.org/10.1080/15391523.2024.2381231">https://doi.org/10.1080/15391523.2024.2381231</a></li>
    <li>Kisbu, Y., Özcan, M. Ş., Kuşcul, G. H., Bozok, M., Kaya, M., & Fişek, G. (2023). Fathering styles in a traditional culture and its association with marital relationship: A latent profile analysis with a nationally representative sample. <i>Family Process</i>. <a href="https://doi.org/10.1111/famp.12948">https://doi.org/10.1111/famp.12948</a></li>
    <li>Akcaoglu, M., Özcan, M. Ş., & Hodges, C. B. (2023). Exploring the relationship among motivational constructs and preservice teachers’ use of computational thinking in classrooms. <i>Computers in the Schools</i>. <a href="https://doi.org/10.1080/07380569.2023.2172987">https://doi.org/10.1080/07380569.2023.2172987</a></li>
    <li>Akcaoglu, M., Ozcan, M. Ş., & Dogan, S. (2023). What keeps teachers engaged during professional development? The role of interest development. <i>Education Sciences</i>. <a href="https://doi.org/10.3390/educsci13020188">https://doi.org/10.3390/educsci13020188</a></li>
    <li>Özcan, M. Ş., Çetinkaya, E., Goksun, T., & Kisbu Sakarya, Y. (2021). Does learning to code influence cognitive skills of elementary school children? Findings from a randomized experiment. <i>British Journal of Educational Psychology</i>, 91, 1434-1455. <a href="https://doi.org/10.1111/bjep.12429">https://doi.org/10.1111/bjep.12429</a></li>
  </ul>

  <h2>Manuscripts Under Review</h2><hr />
  <ul>
    <li>Özcan, M. Ş., & Kisbu, Y. (under review). Exposure to interactive media but at low levels is associated with better executive functioning in children: A meta-analysis. <i>Media Psychology</i>.</li>
    <li>Özcan, M. Ş., & Akcaoglu, M. (under review). Development and validation of the multidimensional interest development survey (MIS): An interest survey measuring phases and components. <i>Instructional Science</i>.</li>
    <li>Sabuncuoglu, A., Özcan, M. Ş., Kisbu, Y., & Sezgin, M. (under review). Developing an open-source middle school programming environment and its curriculum for an affordable education. <i>British Journal of Educational Technology</i>.</li>
    <li>Rajadhyaksha, U., Aycan, Z., Rantanen, J., Feldt, T., Cinli, D., Özcan, M. Ş., & Baskurt, A. B. (under review). Work-family interface during COVID-19: Gender and gender role ideology perspectives. <i>Journal of Family and Economic Issues</i>.</li>
  </ul>

  <h2>Manuscripts in Preparation</h2><hr />
  <ul>
    <li>Özcan, M. Ş., Lee, Y., & Choi, K. (in preparation). The associations between problematic media use and executive functions in middle childhood: A cross-lagged panel model.</li>
    <li>Beers, C., Yu, S., Özcan, M. Ş., Smith, C. L., & Choi, K. (in preparation). Understanding media guilt among mothers of young children.</li>
    <li>Özcan, M. Ş., & Choi, K. (in preparation). The role of digital media on young children’s executive functions: Testing potential moderating and mediating effects.</li>
  </ul>
{% endif %}




